
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Empleados</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
</head>
<body>
    <section class="section">
        <div class="container">
            <h1 class="title">Empleados <i class="devicon-express-original"></i> <i class="devicon-mongodb-plain-wordmark"></i></h1>

            <div class="columns">
                <div class="column is-one-third">
                    <div id="employee-form">
                        <h2 class="subtitle">Agregar Empleado</h2>
                        <form id="form" action="/employees" method="POST">
                            <input type="hidden" name="id" id="employee-id">
                            <div class="field">
                                <label class="label">Nombre</label>
                                <div class="control">
                                    <input class="input" type="text" name="name" id="employee-name" required>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Correo Electrónico</label>
                                <div class="control">
                                    <input class="input" type="email" name="email" id="employee-email" required>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Fecha de Nacimiento</label>
                                <div class="control">
                                    <input class="input" type="date" name="birthday" id="employee-birthday" required>
                                </div>
                            </div>
                            <div class="field">
                                <label class="label">Teléfono</label>
                                <div class="control">
                                    <input class="input" type="tel" name="phone" id="employee-phone" required>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <button class="button is-primary">Enviar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="column">
                    <h2 class="subtitle">Lista de Empleados</h2>
                    <table class="table is-fullwidth">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Correo Electrónico</th>
                                <th>Fecha de Nacimiento</th>
                                <th>Teléfono</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody id="employee-list">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <div id="edit-modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Edit Employee</p>
                <button class="delete" aria-label="close" onclick="closeModal()"></button>
            </header>
            <section class="modal-card-body">
                <form id="edit-form" method="POST">
                    <input type="hidden" name="id" id="edit-employee-id">
                    <div class="field">
                        <label class="label">Nombre</label>
                        <div class="control">
                            <input class="input" type="text" name="name" id="edit-employee-name" required>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Correo Electrónico</label>
                        <div class="control">
                            <input class="input" type="email" name="email" id="edit-employee-email" required>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Fecha de Nacimiento</label>
                        <div class="control">
                            <input class="input" type="date" name="birthday" id="edit-employee-birthday" required>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label">Teléfono</label>
                        <div class="control">
                            <input class="input" type="tel" name="phone" id="edit-employee-phone" required>
                        </div>
                    </div>
                </form>
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success" onclick="submitEditForm()">Save changes</button>
                <button class="button" onclick="closeModal()">Cancel</button>
            </footer>
        </div>
    </div>

    <script>
        const employeeForm = document.getElementById('form');
        const employeeId = document.getElementById('employee-id');
        const employeeName = document.getElementById('employee-name');
        const employeeEmail = document.getElementById('employee-email');
        const employeeBirthday = document.getElementById('employee-birthday');
        const employeePhone = document.getElementById('employee-phone');

        const editModal = document.getElementById('edit-modal');
        const editForm = document.getElementById('edit-form');
        const editEmployeeId = document.getElementById('edit-employee-id');
        const editEmployeeName = document.getElementById('edit-employee-name');
        const editEmployeeEmail = document.getElementById('edit-employee-email');
        const editEmployeeBirthday = document.getElementById('edit-employee-birthday');
        const editEmployeePhone = document.getElementById('edit-employee-phone');

        async function fetchEmployees() {
            const response = await fetch('/employees');
            const employees = await response.json();
            const employeeList = document.getElementById('employee-list');
            employeeList.innerHTML = '';
            employees.forEach(employee => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${employee._id.substring(employee._id.length - 6)}</td>
                    <td>${employee.name}</td>
                    <td>${employee.email}</td>
                    <td>${employee.birthday}</td>
                    <td>${employee.phone}</td>
                    <td>
                        <button class="button is-warning is-small" onclick="editEmployee('${employee._id}', '${employee.name}', '${employee.email}', '${employee.birthday}', '${employee.phone}')">Editar</button>
                        <form action="/employees/delete/${employee._id}" method="POST" style="display: inline;">
                            <button class="button is-danger is-small">Eliminar</button>
                        </form>
                    </td>
                `;
                employeeList.appendChild(row);
            });
        }

        function editEmployee(id, name, email, birthday, phone) {
            editEmployeeId.value = id;
            editEmployeeName.value = name;
            editEmployeeEmail.value = email;
            editEmployeeBirthday.value = birthday;
            editEmployeePhone.value = phone;
            editForm.action = `/employees/update/${id}`;
            editModal.classList.add('is-active');
        }

        function closeModal() {
            editModal.classList.remove('is-active');
        }

        function submitEditForm() {
            editForm.submit();
        }

        fetchEmployees();
    </script>
</body>
</html>
